<nav class="navbar navbar-light bg-white">
    <div class="container-fluid">
      <a class="navbar-brand"><img src="../../../assets/img/1.png" width="110px" alt=""></a>
      <div class=" d-flex">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">About</a>
        <a class="nav-link " href="#">Smart home</a>
        <a class="nav-link " href="#">Sign in</a>
      </div>
      <form class="d-flex">
        <input class="form-control me-2 " type="search" placeholder="Search" aria-label="Search">
        <!-- <button class="btn" type="submit"><i class="bi bi-search"></i></button> -->
      </form>
    </div>
</nav>