<div class="container-fluid">
    <div class="col-lg-12">
        <div class="row d-flex">
            <div class="col-lg-4 m-5 ctn">
                <h1 class="fs-1">Smart home</h1>
                <p class="fw-bold pt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea illum molestiae id eum quasi? Debitis quibusdam suscipit porro, repellendus</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <button class="btn start mt-2">Get Started  <i class="bi bi-play-fill fs-5"></i> </button>
            </div>
            <div class="col-lg-6 w-90 image">
                <img src="../../../assets/img/smartHouse.png" width="740px" alt="">
            </div>
        </div>
    </div>
</div>