*{
    font-family: Arial, Helvetica, sans-serif;
    /* overflow-x: hidden; */
}

h1{
    color: #0084E9;
    font-weight: bold;
}
.ctn{
    padding-top: 100px;
    padding-left: 40px;
}
.start{
    background-color: #FF4147;
    color: white;
    border-radius: 40px;
    width: 150px;
}
.start:hover{
    background-color: #E22A2C;
}
.image{
    margin-left: 160px;
}
