<div class="">
    
    <div class="row smarthome ">
        <div class="d-flex justify-content-end">
            <!-- <button mat-raised-button (click)="openDialog()">Pick one</button> -->

                    <!-- Button trigger modal -->
        <button type="button" class="btn btn-new text-white rounded" (click)="openDialog()" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-plus-circle-fill"></i>
        </button>
            <!-- <button class="btn btn-new text-white rounded" (click)="openDialog()"><i class="bi bi-plus-circle-fill"></i></button> -->
        </div>
        <div  *ngFor="let house of resultHouses;">
            <div *ngFor="let floor of house.floors">
                <div *ngFor="let room of floor.rooms">
                    <div *ngFor="let tv of room.tvs">
                        <div *ngFor="let lamp of room.lamps">
                            <div *ngFor="let camera of room.cameras">
                                <div  [ngClass]="{'bg': tv.status === on , 'card': tv.status !== on}" class="w-100" style="width: 18rem;"  >
                                    <div class="card-body d-flex position-relative">
                                        <div class="d-flex ">
                                            <button class="rounded-circle btn btn-start"><i class="bi bi-play-fill"></i></button>
                                        </div>
                                        <div class="ms-5">
                                            <span >
                                                <p>TV: <span class="fw-bold">{{ tv.number }} <i class="bi bi-tv-fill fs-5"></i></span> </p>
                                                <p>Room: <span class="fw-bold">{{ room.number }}</span> </p>
                                                <p>Floor: <span class="fw-bold">{{ floor.number }}</span> </p>
                                                <p>Status: <span class="fw-bold">{{ tv.status }}</span></p>
                                            </span>
                                        </div>
                                        <div class="position-absolute top-0 end-0">
                                            <button class="btn btn-delete rounded-circle mt-4" (click)="confirmBox(house)"><i class="bi bi-x-circle-fill"></i> </button>
                                        </div>
                                        <a class="position-absolute bottom-0 end-0 " href="">
                                            <span class="fs-5">More Info</span><i class="bi bi-arrow-right-circle-fill ps-2"></i>
                                        </a>
                                    </div>
                                </div>
                                <div [ngClass]="{'bg': lamp.status === on , 'card': lamp.status !== on}" class="w-100" style="width: 18rem;"  >
                                    <div class="card-body d-flex position-relative">
                                        
                                        <div class="d-flex ">
                                            <button class="rounded-circle btn btn-start"><i class="bi bi-play-fill"></i></button>
                                        </div>
                                        <div class="ms-5">
                                            <span>
                                                <p>Lamp: <span class="fw-bold">{{ lamp.number }} <i class="bi bi-lightbulb-fill fs-5"></i></span> </p>
                                                <p>Room: <span class="fw-bold">{{ room.number }}</span> </p>
                                                <p>Floor: <span class="fw-bold">{{ floor.number }}</span> </p>
                                                <p>Status: <span class="fw-bold">{{ lamp.status }}</span></p>
                                            </span>
                                        </div>
                                        <div class="position-absolute top-0 end-0">
                                            <button class="btn btn-delete rounded-circle mt-4" (click)="confirmBox(house)"><i class="bi bi-x-circle-fill"></i> </button>
                                        </div>
                                        <a class="position-absolute bottom-0 end-0 " href="">
                                            <span class="fs-5">More Info</span><i class="bi bi-arrow-right-circle-fill ps-2"></i>
                                        </a>
                                    </div>
                                </div>

                                <div [ngClass]="{'bg': camera.status === on , 'card': camera.status !== on}" class=" w-100" style="width: 18rem;"  >
                                    <div class="card-body d-flex position-relative">
                                        
                                        <div class="d-flex ">
                                            <button class="rounded-circle btn btn-start"><i class="bi bi-play-fill"></i></button>
                                        </div>
                                        <div class="ms-5">
                                            <span >
                                                <p>Camera : <span class="fw-bold">{{ camera.number }} <i class="bi bi-webcam-fill fs-5"></i></span> </p>
                                                <p>Room: <span class="fw-bold">{{ room.number }}</span> </p>
                                                <p>Floor: <span class="fw-bold">{{ floor.number }}</span> </p>
                                                <p>Status: <span class="fw-bold">{{ camera.status }}</span></p>
                                            </span>
                                        </div>
                                        <div class="position-absolute top-0 end-0">
                                            <button class="btn btn-delete rounded-circle mt-4" (click)="confirmBox(house)"><i class="bi bi-x-circle-fill"></i> </button>
                                        </div>
                                        <a class="position-absolute bottom-0 end-0 " href="">
                                            <span class="fs-5">More Info</span><i class="bi bi-arrow-right-circle-fill ps-2"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
 
                        </div>

                    </div>
                </div>
        
            </div>
       
        </div>
    
        <!-- <div class="card w-100" style="width: 18rem;">
            <div class="card-body d-flex position-relative">
                
                <div class="d-flex ">
                    <button class="rounded-circle btn btn-off"><i class="bi bi-power"></i></button>
                </div>
                <div class="ms-5">
                    <span>
                        <p>Device: <span class="fw-bold">TV</span> </p>
                        <p>Room: <span class="fw-bold">Linving room</span> </p>
                        <p>Floor: <span class="fw-bold">Floor 2</span> </p>
                        <p>Status: <span class="fw-bold">OFF</span> </p>
                    </span>
                </div>
                <div class="position-absolute top-0 end-0">
                    <button class="btn btn-delete rounded-circle mt-4"><i class="bi bi-x-circle-fill"></i> </button>
                </div>
                <a class="position-absolute bottom-0 end-0 " href="">
                    <span class="fs-5">More Info</span><i class="bi bi-arrow-right-circle-fill ps-2"></i>
                </a>
            </div>
        </div> -->
    </div>
</div>

