*{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

h6{
    color: #FF4147;
}
.card{
    background-color: #F6F6F6;
    margin-bottom: 20px;
}
.smarthome{
    margin: 50px;
}
.btn-start{
    background-color: #0084E9;
    width: 80px;
    height: 80px;
    color: white;
    font-size: 40px;
    margin-top: 40px;
}
.btn-start:hover{
background-color: #0492ff;
}

.btn-delete{
    background-color: #FF3F5B;
    width: 60px;
    height: 60px;
    color: white;
    font-size: 20px;
}
.btn-delete:hover{
    background-color: #ff6179;
}
.btn-off{
    background-color: #FF3F5B;
    width: 80px;
    height: 80px;
    color: white;
    font-size: 40px;
    margin-top: 40px;
}
.btn-new {
    background-color: #0084E9;
    width: 70px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 30px;
}
.btn-new:hover{
    background-color: #0492ff;
}
