<div class="">
   <app-navbar></app-navbar>

    <div class="row smarthome ">
        <div class="d-flex justify-content-end">
            <button class="btn btn-new text-white rounded"><i class="bi bi-plus-circle-fill"></i></button>
        </div>
        <div class="card w-100" style="width: 18rem;">
            <div class="card-body d-flex position-relative">
                
                <div class="d-flex ">
                    <button class="rounded-circle btn btn-start"><i class="bi bi-play-fill"></i></button>
                </div>
                <div class="ms-5">
                    <span>
                        <p>Device: <span class="fw-bold">Lamp</span> </p>
                        <p>Room: <span class="fw-bold">Bedroom</span> </p>
                        <p>Floor: <span class="fw-bold">Floor 1</span> </p>
                        <p>Status: <span class="fw-bold">ON</span> </p>
                    </span>
                </div>
                <div class="position-absolute top-0 end-0">
                    <button class="btn btn-delete rounded-circle mt-4"><i class="bi bi-x-circle-fill"></i> </button>
                </div>
                <a class="position-absolute bottom-0 end-0 " href="">
                    <span class="fs-5">More Info</span><i class="bi bi-arrow-right-circle-fill ps-2"></i>
                </a>
            </div>
        </div>
        <div class="card w-100" style="width: 18rem;">
            <div class="card-body d-flex position-relative">
                
                <div class="d-flex ">
                    <button class="rounded-circle btn btn-off"><i class="bi bi-power"></i></button>
                </div>
                <div class="ms-5">
                    <span>
                        <p>Device: <span class="fw-bold">TV</span> </p>
                        <p>Room: <span class="fw-bold">Linving room</span> </p>
                        <p>Floor: <span class="fw-bold">Floor 2</span> </p>
                        <p>Status: <span class="fw-bold">OFF</span> </p>
                    </span>
                </div>
                <div class="position-absolute top-0 end-0">
                    <button class="btn btn-delete rounded-circle mt-4"><i class="bi bi-x-circle-fill"></i> </button>
                </div>
                <a class="position-absolute bottom-0 end-0 " href="">
                    <span class="fs-5">More Info</span><i class="bi bi-arrow-right-circle-fill ps-2"></i>
                </a>
            </div>
        </div>
    </div>
</div>